@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  /* height: 10000px; */
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* background: #00e1b861; */
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

table.greenTable {
  width: 100%;
  min-height: 372px;
  text-align: center;
}

table.greenTable td,
table.greenTable th {
  border: 1px solid #80808077;
  padding: 8px 2px;
}

table.greenTable tbody td {
  font-size: 13px;
  font-weight: bold;
}

table.greenTable thead th {
  font-size: 17px;
  font-weight: bold;
  text-align: center;

}

.mystyle {
  font-family: 'Times New Roman', Times, serif;
}

.consul {
  background-image: url("./assets/consultation.webp");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;

}

#consultation {
  background-color: rgb(234, 235, 235);
}

.phone {
  background-image: url("./assets/phone.webp");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.what {
  background-image: url("./assets/whatsapp.webp");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;

}